<!DOCTYPE html>
{% comment %} {% load staticfiles %} {% endcomment %}
{% load crispy_forms_tags %}
{% load static %}
<html lang= "en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device=width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{%  static 'css/signupform.css' %}"/> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> 
        <title>Cinephilic Sign-up</title>
             
    </head>
    <body >
        <div class="container">
            <div class="name">  
            </div>
            <div class="content-box">
                <div class="content-main">
                    <div class="signup-form">
                        <h1>Cinephilic Sign-up</h1>
                        {% if user.is_authenticated %}
    <p>Welcome, {{ user.get_username }}. Thanks for logging in.</p>
    {% endif %}
                        {% comment %} <h4>Already a User? <a href="{% url 'MyApp:patientlogin' %}">Login Here!</a></h4><br> {% endcomment %}
                         <form action="signup" method="POST">
                         {% csrf_token %}
                                <label for="fname">Name</label><br>
                                <input type="text" id="fname" name="username"><br>
                                <label for="lname">Enter a password</label><br>
                                <input type="text" id="lname" name="password1" type="hidden"><br><br>
                                <label for="lname">Re enter your password</label><br>
                                <input type="text" id="lname" name="password2" type="hidden"><br><br>
                                <input type="submit" class="btn-primary" value="Sign Up">
                        
                        </form>
                    </div>
                    
                </div>
            </div>
       </div>
    </body>   
    <style> 
                body  
                {  
                    background-image:url("https://media.istockphoto.com/id/1128972831/photo/colorful-film-frames.jpg?s=612x612&w=0&k=20&c=s91xVkTMGGWI79EQJF70hhChRUJ1CVq9V5Qh7MUlyzw="); 
                    background-repeat: no-repeat; 
                    max_width = 100%;
                    max_height = 100%;
                    background-size: cover;
                    position: relative;
                } 
            
    </style>  
</html>
